@import '../../styles/commons';

#checkoutModal {
  .discount {
    grid-template-columns: 1fr 5fr auto;
    justify-content: space-between;}
  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    > .button {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      border: 1px solid $verylightgrey;
      &:hover {
        outline: 2px solid $darkgrey;}
      &:active {
        outline: 0;}
      &.paypal {
        background-image: url("../../media/paypal.svg");
        background-color: white;}
      &.gpay {
        background-image: url("../../media/gpay.svg");
        background-color: $black }}}
  
  #cart_summary {
    width: 100%;
    border-spacing: 0;
    font-size: 0.9rem;
    border-bottom: 1px solid $mediumgrey;
    tr {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;}
      td:first-child {
        color: #555659;}
      .total {
        border-top: 1px solid $mediumgrey;
        font-size: 1rem;
        padding-top: 1rem;
        td:last-child {
          font-size: 1.2rem;}}}
          
  #captcha {
    padding-block: 1rem;
    figure {
      width: 100%;
      height: 80px;
      background: white;
      margin-bottom: 1rem;}
    input {
      text-transform: uppercase;
      box-sizing: border-box;
      background: #F6F6F6;
      height: 45px;
      border-radius: 0.5rem;
      padding-inline: 1em;
      width: 100%;
      border: 0;
    }
  }
}