@import 'commons';

// // // Typography // // //
html {
  font-family: 'Lato', sans-serif;
	font-size: 16px; 
  color: $black;
  @include only-small {
    font-size: 14px;}}

p {
	font-size: 1rem;
  margin-block: 1em;}
  
h3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin-block: 1em;}

h2 {
  font-size: 1.5rem; 
  font-weight: 600;}
  
h1 {
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: normal;
  margin-block: 1rem;}
	
p a {
	color: white;
	text-decoration: none;
	&:hover {
		text-decoration: underline;}}
	
.textCentered {
	text-align: center;}

// // // General Layout // // //
#body {
  background-color: white;}
  
#siteContainer {
  }
  
#siteMain, #siteFooter {
  padding-inline: 6vw;
  display: grid;
  align-items: center;}
	
// // //  Elements // // //
a {
  text-decoration: none;
  color: inherit;}

figure {
	margin: 0;
	display: grid;}

img {
	max-width: 100%;
	height: auto;}
	
// // // Reusable // // //
.grid {
	display: grid;
	align-content: center;}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem;}
  
.button {
  display: grid;
  align-items: center;
  font-weight: 400;
  background-color: $lightgrey;
  background-repeat: no-repeat;
  background-position: center center;
  &:hover {
    background-color: $black;
    color: $white;
    cursor: pointer;}
  &:active {
    background-color: $mediumgrey;
    color: $black;}
    
  &--pill {
    height: 35px;
    text-transform: uppercase;
    font-size: 0.8195rem;
    border-radius: 1.875rem;
    border: 2px solid $black;
    padding-inline: 1.3em;}
    
  &--square {
    background-color: #F6F6F6;
    height: 45px;
    border-radius: 0.5rem;
    padding-inline: 1em;
    &:hover {
      background-color: inherit;
      color: inherit;
      outline: 2px solid $darkgrey;}}
    
  &--disabled {
    background-color: #D1CDCD;
    color: white;
    &:hover, &:active {
      cursor: pointer;
      background-color: #D1CDCD;
      outline: none !important;
      color: white;}}
  
  &--modal {
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    &:hover {
      cursor: pointer;
      background-color: $mediumgrey;
      color: inherit;}}}
  
span.mobileLineBreak {
  display: block;
  @include medium-up {
    display: inline;}}
    
.fake-link:hover {
  cursor: pointer;
  text-decoration: underline;}

// // // Modals // // // 
/* modal background */
.modal {
  display: none;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;}

/* modal content box */
.modal-content {
  position: relative;
  padding: 1vw;
  margin: 15% auto;
  width: 90%;
  max-width: 275px;
  background-color: #FBFBFB;
  border: 1px solid $darkgrey;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;}

/* modal close button */
.button.button--modal.close-modal {
  text-transform: none;
  display: inline-flex;
  padding-inline: 2.5rem 1rem;
  background-image: url("../assets/prev.svg");
  background-position: 1.5rem center;}

/* Add Animation */
@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}}