@import '../../styles/commons';

#siteMain {
  min-height: 60vh;
  display: grid;
  justify-content: center;
  padding-top: 8rem;}
  
#products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw 2vh;}
  
.product {
  max-width: 290px;
  figure {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 290px;
    height: 290px;
    overflow: hidden;
    background: $lightgrey;}
  image {
    width: 100%;
    height: auto;}
} 