@import '../../styles/commons';

#siteHeader {
  display: grid;
  align-items: center;
  width: 100vw;
  position: fixed;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  background: $lightgrey;
  
  h1 {
    grid-row-start: 2;
    grid-row-end: 3;
    text-transform: uppercase;
    padding-inline: 6vw;}

  nav {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5%;
    padding-right: 6vw;}
    
  nav a {
    box-sizing: border-box;
    display: grid;
    align-items: center;
  }
    
  a.checkout {
    display: none;
    height: 35px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8195rem;
    border-radius: 1.875rem;
    border: 2px solid $black;
    padding-inline: 1.3em;
    background: $lightgrey;
    &:hover {
      background: $black;
      color: $white;}
    &:active {
      background: $mediumgrey;
      color: $black;}
    @include large-up {
      display: grid;}
  }
  
  a.cart {
    height: 42px;
    text-align: center;
    border-radius: 1.875rem;
    padding-inline: calc(1rem + 35px) 1rem;
    background: url("../../media/bag.png") no-repeat;
    background-size: 35px;
    background-position: 10px center;
    overflow: visible;
    &:hover {
      background-color: $mediumgrey;}
    &:active {
      
    }
  }
  
  aside {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    background: $mediumgrey;
    p {
      font-size: 0.8rem;}
  }
  
  @include medium-up {
    h1 {
      text-align: center;
      grid-column-start: 1;
      grid-column-end: 3;}
    nav {
      grid-column-start: 2;
      grid-column-end: 3;}}

}

